<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- logback configuration:  log to file and console for development, console (stdout) only for stg/prd -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
            ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/goatBakery</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{10} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/goatBakery-%d{yyyy-MM-dd}.log.gz</fileNamePattern>

            <!-- keep 30 days' worth of history capped at ? GB total size -->
            <maxHistory>30</maxHistory>
            <!-- <totalSizeCap>?3GB</totalSizeCap> -->

        </rollingPolicy>
    </appender>

    <!--	<logger name="com.cmtgroup.services" level="info" additivity="false">-->
    <!--		<appender-ref ref="FILE" />-->
    <!--		<appender-ref ref="STDOUT" />-->
    <!--	</logger>-->

    <logger name="org.example" level="debug" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>